extends layout

block content
  h1 #{article.title}
  h5 Written By #{author}
  p #{article.body}
  hr
  if user
    if user.id==article.author || user.id=="59e4d03d2a00111b28423e46" || user.id=="59e5cc19f38fe700125d9e4e"
      a.btn.btn-default(href='/articles/edit/'+article._id) Edit
      a.btn.btn-danger.delete-article(href='#',data-id=article._id,style="margin-left:20px;") Delete
  
