doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title ArticleHub
    // Bootstrap core CSS
    link(href='https://getbootstrap.com/dist/css/bootstrap.min.css', rel='stylesheet')
    // Custom styles for this template
    link(href='https://getbootstrap.com/docs/4.0/examples/cover/cover.css', rel='stylesheet')
  body
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          .masthead.clearfix
            .inner
              h3.masthead-brand ArticleHub
              nav.nav.nav-masthead
                a.nav-link.active(href='/') Home
                if !user
                  a.nav-link.active(href='/articles/gallery') Gallery
                if user
                  a.nav-link(href='/users/logout') Logout
          .container
            != messages('message', locals)
          .inner.cover
            if !user
              h1.cover-heading Welcome
              p.lead
                | ArticleHub is the Perfect destination for writing and reading Articles/Poems/Experiences/Stories/Code and Pretty much everything. Click on Register to create an account or Login through Facebook to start writing and unleash the writer within you. 
              p.lead
                a.btn.btn-lg.btn-secondary(href='/users/register') Register
                a.btn.btn-lg.btn-secondary(href='/auth/facebook',style="margin-left:50px;") Facebook Login
              p.lead
                | Already a member?
              p.lead
                a.btn.btn-lg.btn-secondary(href='/users/login') Login
            else
              p.lead
                | Click on Add Posts to contribute Posts. 
              p.lead
                a.btn.btn-lg.btn-secondary(href='/articles/add') Add Posts
              p.lead
                | Click below to view all Posts on the site
              p.lead
                a.btn.btn-lg.btn-secondary(href='/articles/gallery') Gallery
              p.lead
                | Click below to view and update your personal Posts
              p.lead
                a.btn.btn-lg.btn-secondary(href='/articles/personal') Personal Posts
        
              
