html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    //link(rel='icon', type='image/png', href='favicon.png')
    title ArticleHub
    // Bootstrap core CSS
    link(href='https://getbootstrap.com/dist/css/bootstrap.min.css', rel='stylesheet')
    // Custom styles for this template
    link(href='https://getbootstrap.com/docs/4.0/examples/jumbotron/jumbotron.css', rel='stylesheet')
    script(src='/js/main.js')
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
    script.
      (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-6462123580009439",
      enable_page_level_ads: true
      });
  body
    nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
      a.navbar-brand(href='/') ArticleHub
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='/')
              | Home 
              span.sr-only (current)
          li.nav-item.active
            a.nav-link(href='/articles/gallery') Gallery
          li.nav-item.active
            a.nav-link(href='/articles/add') Contribute Posts
          li.nav-item.dropdown.active
            a.nav-link.dropdown-toggle(href='/articles/gallery', id="dropdown01",data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') More Options
            .dropdown-menu(aria-labelledby="dropdown01")
              if user
                a.dropdown-item(href='/articles/add') Add Posts
                a.dropdown-item(href='/articles/personal') Your Posts
                a.dropdown-item(href='/users/logout') Logout
              if !user
                a.dropdown-item(href='/users/login') Login
                a.dropdown-item(href='/users/register') Register
        form.form-inline.my-2.my-lg-0(method='POST',action='/articles/search')
          input.form-control.mr-sm-2(type='text', placeholder='Search Posts', aria-label='Search',name='search')
          button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
    #fb-root
    script.
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.10';
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    .jumbotron
      .container
        != messages('message', locals)
        if errors
          each error, i in errors
            div(class="alert alert-danger") #{error.msg}
        block content
        br
        hr
        footer
          .container
            .text-center
              p Copyright &copy; 2017
              a(href='https://www.facebook.com/devanshu.lalwani.5', target='_blank')
                img.img-rounded(src='https://image.flaticon.com/icons/png/128/69/69407.png', width='32px', height='32px')
              a(href='https://github.com/dlalwani9', target='_blank')
                img.img-rounded(src='https://cdn0.iconfinder.com/data/icons/octicons/1024/mark-github-128.png', width='32px', height='32px')
          hr
    script(src='https://getbootstrap.com/assets/js/vendor/popper.min.js')
    script(src='https://getbootstrap.com/dist/js/bootstrap.min.js')
