extends layout

block content
  h1 Login
  form(method='POST',action='/users/login')
    #form-group
      label Username:
      input.form-control(name='username',type='text',placeholder='Enter Username')
    #form-group
      label Password:
      input.form-control(name='password',type='password',placeholder='Enter Password')
    br
    input.btn.btn-success(type='submit',value='Sign in')
    a.btn.btn-warning(href='/users/forgot',style="margin-left:20px;") Forgot Password              
